* {
    line-height: 1.5;
    font-family: 'Roboto', Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 20px;
    background-color: #a3a3d1;  
}

h1 {
    text-align: center;
    color: white;
    margin: 20px;
}

.container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10%;
}

.recipe-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    background-color: white;
    padding: 36px;
    margin: 10px;
    max-width: 900px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.recipe-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 430px;
}

.btn-container {
    margin: 0;
    float: right;
    align-self: flex-end;
}

.btn {
    display: inline-block;
    background-color: #a3a3d1;
    margin-left: 10px;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica;
}

.btn:hover {
    background-color: #b7b7e8;
}

hr {
    border: solid 2px;
    color: #a3a3d1;
}

.recipe-box {
    background-color: white;
    padding: 10px 20px ;
    margin: auto;
    margin-bottom: 20px;
    color: #000000e3; 
    width: 1040px;
    box-shadow: 1px 1px 7px rgb(66, 65, 65); 
}

.recipe-img, img {
    width: 300px;
}

.recipe-subheading {
    color: #a3a3d1;
}
