* {
    line-height: 1.5;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;

}

body {
    font-size: 20px;
    background-color: #a3a3d1;  
}

h1 {
    text-align: center;
    color: white;
}

.recipe-card {
    background-color: white;
    width:900px;
    padding: 50px;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.recipe-card-container {
    padding-bottom: 500px;
}

.recipe-content {
    display: inline-block;
    width: 430px;
    margin-left: 50px;
}

.recipe-content p {
    margin: 0;
}

.btn-container {
    margin: 0;
    float: right;
}

.btn {
    display: inline-block;
    background-color: #a3a3d1;
    margin-left: 10px;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica;
}

.btn:hover {
    background-color: #b7b7e8;
}

hr {
    border: solid 2px;
    color: #a3a3d1;
}

.recipe-box {
    background-color: white;
    padding: 10px 20px ;
    margin: auto;
    margin-bottom: 20px;
    color: #000000e3; 
    width: 1040px;
    box-shadow: 1px 1px 7px rgb(66, 65, 65); 
}

.recipe-img, img {
    width: 300px;
    vertical-align: top;
    display: inline-block;
    }

.recipe-subheading {
    color: #a3a3d1;
}
